openapi: 3.1.0
info:
  title: llama.cpp-stack Gateway API
  version: 0.2.0
  description: |
    Public API surface for the Go gateway. The gateway exposes an
    OpenAI-compatible /v1 subset plus /health. It intentionally hides
    llama.cpp-native worker internals such as /slots, /metrics, /completion,
    /worker/*, and /control/*.
servers:
  - url: https://llamacpp-stack.vex9z7.com
    description: Current deployed stack
  - url: http://127.0.0.1:8090
    description: Local development
paths:
  /health:
    get:
      summary: Gateway health check
      operationId: getHealth
      responses:
        '200':
          description: Gateway is ready
          content:
            application/json:
              schema:
                $ref: '../json/health-response.schema.json'
  /v1/models:
    get:
      summary: OpenAI-compatible model catalog
      operationId: listModels
      responses:
        '200':
          description: Catalog model list with gateway meta extensions
          content:
            application/json:
              schema:
                $ref: '../json/models-response.schema.json'
  /v1/chat/completions:
    post:
      summary: OpenAI-compatible chat completions with llama.cpp extensions
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../json/chat-completion-request.schema.json'
      responses:
        '200':
          description: Chat completion or streaming chunk stream
          content:
            application/json:
              schema:
                $ref: '../json/chat-completion-response.schema.json'
            text/event-stream:
              schema:
                type: string
                description: Server-sent events where each data line contains a chat.completion.chunk JSON object.
        default:
          description: Gateway or upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/completions:
    post:
      summary: OpenAI-compatible legacy text completions
      operationId: createCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../json/completion-request.schema.json'
      responses:
        '200':
          description: Text completion
          content:
            application/json:
              schema:
                $ref: '../json/completion-response.schema.json'
        default:
          description: Gateway or upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/responses:
    post:
      summary: OpenAI-compatible Responses API subset
      operationId: createResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../json/responses-request.schema.json'
      responses:
        '200':
          description: Response object or response event stream
          content:
            application/json:
              schema:
                $ref: '../json/responses-response.schema.json'
            text/event-stream:
              schema:
                type: string
                description: Server-sent events such as response.created and response.output_text.delta.
        default:
          description: Gateway or upstream error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/embeddings:
    post:
      summary: OpenAI-compatible embeddings endpoint for catalog models with kind=embedding
      operationId: createEmbedding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '../json/embeddings-request.schema.json'
      responses:
        '200':
          description: Embeddings response
          content:
            application/json:
              schema:
                $ref: '../json/embeddings-response.schema.json'
        default:
          description: Gateway or upstream error, for example model_capability_mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: true
          required: [message]
          properties:
            code:
              oneOf:
                - type: integer
                - type: string
            message:
              type: string
            type:
              type: string
